.custom-navbar {
    padding: 38px 162px;
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.checkbox-label {
    font-family: 'FiraGO', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
}
